*{
    margin: 0px;
    padding:00px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1000px;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
}

header{
    height: 100px;
    background: black;
    display: flex;
    align-items: center;
}

header h1{
    color: white;
    padding-left: 20px;
}

section{
    margin-top: 25px;
    display:flex ;
    flex-wrap: wrap;
}

.box{
    border-radius: 2px red; 
    border: 2px solid green;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px; 
}

.box img{
    width: 400px;
}

.box h1, p{
    padding: 20px;
}
footer p{
    border: 3px solid;
    text-align: center;
    background-color: black;
    color: red;
    padding: 10px;
}