.vinherialogo{
    position:absolute;
    top:31px;
    left:31px;  
}

/*TAGS HTML*/

body{
    padding:0;
    max-width:100%;
    margin:0 auto;
    min-height:100vh;    
    position:static;
    background-color: rgb(57, 57, 57);
}

header{
    z-index:1;
    position:relative
      
}

nav ul{
    text-align:center;
    list-style:none;
}

nav li{
    display:inline-block;
}

a{
    color:white;
}

h1{
    color:white;
}

/*ID E CLASS*/


.avatar{
    position: absolute;
    width: 64px;
    height: 64px;
    right: 0;
    top: 402px;
    padding:10px;     
}

.carrinho{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.flag{
    display:inline-block;
    margin-right:10px;
}

.vinhoqueijo{
    width:100px;
    position:absolute;
    top:290px;    
}

#fontvinho{
   position:absolute;
   top:325px;
   left:120px;
}

.catalog1{
    display:flex;
    justify-content:space-between 3px;
    margin:0;
    background-color: #7A4E48 ;
    border-radius: 40px;
    position:absolute;
    width: 950px;
    height: 495px;
    left: 460px;
    top: 104px;
}
.catalogsec1{
    margin:block;
    bottom:-60px;
    left:5%;
    position:relative;
    background-color:#400B0B;
    width:150px;
    height:341px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius: 15px
}

.catalogsec2{
    margin:block;
    bottom:-60px;
    left:10%;
    position:relative;
    background-color:#400B0B;
    width:150px;
    height:341px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius: 15px
}

.catalogsec3{
    margin: block;
    position: relative;
    width: 491px;
    height: 278px;
    background: #400B0B;
    border-radius: 15px;
    left: 130px;
    bottom: -60px ;
}

.catalogsec3 img{
    width:50px;
    height:50px;
}

.container{
    position:absolute;
    z-index:2;
    top:0;
    width: 439px;
    height:100%;
    background: rgb(64,11,11);
    background: -moz-linear-gradient(180deg, rgba(64,11,11,1) 36%, rgba(102,12,12,1) 65%);
    background: -webkit-linear-gradient(180deg, rgba(64,11,11,1) 36%, rgba(102,12,12,1) 65%);
    background: linear-gradient(180deg, rgba(64,11,11,1) 36%, rgba(102,12,12,1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400b0b",endColorstr="#660c0c",GradientType=1);
    margin-top:0x;
}

#rodape{
    position: fixed;
    bottom:0%;
    width: 100%;
    height: 6vh; /* Defina a altura para 100% da altura da tela */
    background-color: #7A4E48;
    z-index:9999;
}
